@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&amp;display=swap');

:root {
    --white: #ffffff;
    --bg: #303030;
    --topbottom: #222222;
    --border: #d98e2c;
    --alt: #6b7073;
    --alttext: #cdd7dd;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#root,
.exercise,
.sticker-container,
.sticker-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    justify-content: center;
    width: 100%;
    height: auto;
}

body img {
    width: 300px;
}

h1 {
    margin: 30px;
}

.exercise {
    flex: 0 1 auto;
    margin: 20px;
    min-width: 800px;
    justify-content: center;
    margin: 100px;
    border: 2px solid;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.imagen {
    width: 100%;
    max-width: 300px;
    height: auto;
}

#img {
    width: 100%;
    height: auto;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 50px;
    max-width: 100%;
    max-height: 300px;
}

.ex2 p {
    margin: 10px;
    font-size: 16px;
}

.sticker-container {
    margin-top: 30px;
}

.sticker-items,
.select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sticker-items {
    gap: 20px;
    margin-bottom: 20px;
}

.sticker-item {
    justify-content: flex-end;
}

.sticker-item img {
    max-width: 200px;
    max-height: 200px;
}

.sticker-item .image-container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticker-item input {
    font-size: 26px;
    text-align: center;
    margin-top: 40px;
    width: 60px;
}

.verify-message {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    opacity: 100%;
}

input[type="button"] {
    margin-top: 10px;
    padding: 10px 20px;
    align-self: center;
}

.ex3 {
    padding-bottom: 5vh;
}

.ex3 label {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: large;
}

.select-container {
    gap: 10px;
    margin-bottom: 30px;
}

.ex3 select {
    background-color: var(--alttext);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}

.ex3 button {
    background-color: var(--alttext);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.ex3 p {
    margin: 20px 0 0;
    font-weight: bold;
}

/* MEDIA QUERIES */

@media (max-width: 350px) {
    .imagen {
        max-width: 90%;
    }
}

@media (max-width: 850px) and (orientation: portrait) {
    #root {
        flex-direction: column;
        align-items: center;
    }

    .exercise {
        min-width: 350px;
        margin: 10px;
    }

    .sticker-items {
        flex-direction: column;
        gap: 10px;
    }

    .sticker-item {
        width: 100%;
    }

    .sticker-item input {
        width: auto;
    }

    .sticker-alert,
    input[type="button"] {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 850px) and (orientation: landscape) {

    #root {
        flex-direction: column;
        align-items: center;
    }

    .exercise {
        min-width: 400px;
        margin: 10px;
    }

    .sticker-items {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }

    .sticker-item {
        flex: 1 1 30%;
    }

    .sticker-item .image-container {
        width: 20vw;
        height: 20vw;
    }

    .sticker-item img {
        max-width: 100%;
        max-height: 100%;
    }

    .sticker-item input {
        width: 10vw;
    }

    .verify-message {
        width: auto;
        text-align: center;
    }
}